<!DOCTYPE html>
<html>
<head>
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Welcome to {{.Title}}</h1>
    <p>Your Go web application is running!</p>
</body>
</html>